// DEFAULT BACKGROUND COLORS
$bg-primary: #0072BC; 
$bg-primary-dark: #0B476D; 
$bg-primary-light: #3da3e8; 
$bg-primary-lighter: #50C6E9; 
$bg-secundary: #31C6C7; 
$bg-muted-light: #F8F8F8; 
$bg-muted-medium: #EBEBED; 

// DEFAULT TEXT COLORS
$text-default: #838383;
$text-dark: #515353;
$text-dark-hover: #7D7D7D;
$text-darker: #757576;
$text-muted: #A9A9A9;
$text-primary-light: #A0D7FA; 
$text-danger: #FF0101; 

// COMPONENT COLORS
$border-darker: #999999;
$border-dark: #D9D9D9;
$border-medium: #E0E0E0;

// BOX-COLOR
$box-green:#1AB394;
$box-blue:#23C7C8;
$box-orange:#F7AC59;
$box-red:#EE5666;
$box-gray:#7F7F7F;

// RESOLUTION
$xxl-width: 1500px;
$xl-width: 1200px;
$lg-width: 992px;
$md-width: 768px;
$sm-width: 576px;

// SIZE
$nav-size:250px;

// STYLE
.bold {font-family: 'lato-bold', Sans-serif;}
.semibold {font-family: 'lato-semibold', Sans-serif;}